@import "../variable";
h1 {
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px grey;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: $c1-text;
}
.container {
}
.all_courses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .course_1,
  .course_2,
  .course_3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    a {
      display: flex;
      flex-direction: column;
    }
    span {
      margin-top: 1rem;
      font-size: 1.3rem;
      font-style: italic;
      font-weight: 500;
      line-height: normal;
    }
  }
  .course_2,
  .course_3 {
    filter: grayscale(100%);
  }
}
.about__course {
    display: grid;
    h4 {
      font-size: 16px;
      text-shadow: 1px 1px 2px grey;
    }
    .free__course,
    .premium__course {
      color: $c1-text;
 p{
  font-size: 14px;
 }

    }
  
}
.overall__se {
  h1 {
    color: #1d3557;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px grey;
  }
  .main__video {
    nav {
      color: #1d3557;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .link__ytb {
      margin-top: 1rem;
      gap: 1rem;
      display: flex;
      flex-direction: column;

      span {
        &:nth-child(2) {
          color: blue;
          text-decoration: underline;
          font-style: italic;
        }
      }
    }
  }
}
