@import "../scss/variable.scss";
html,
body {
  text-decoration: none !important;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #1d3557;
  background-color: #f1faee;
  height: 100%; /* Set the height to 100% of the viewport height */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  overflow: hidden; /* Prevent vertical scrolling if content overflows */
}

.active {
  color: #457b9d !important;
}
.nav {
  // margin-bottom: 1rem;

  img {
    height: 64px;
    width: 64px;
  }
  .container {
    display: grid;
    grid-template-columns: 0.25fr 2.5fr 1fr;
  }

  a {
    text-decoration: none !important;
    color: #1d3557;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
.content {
  padding: 2rem;
  .container {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1.5fr 1fr;
    .welcome {
      .star {
        width: 4rem;
        height: 4rem;
      }
      //   padding: 4rem;
      h1 {
        text-align: center;
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
      }
      span {
        color: #1d3557;
        /* Text */
        font-family: Roboto;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.0625rem;
      }
    }
    .welcome_img {
      height: 100%;
      width: 100%;
      margin-top: -3rem;
      svg {
        position: relative;
        width: 25rem;
      }
      img {
        right: 8rem;
        top: 6rem;
        background: none;
        position: absolute;
        width: 25rem;
        height: 26rem;
      }
    }
    .readmore_btn {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
      .btn__yourself {
        font-size: 12px;
        display: flex;
        background-color: #1d3557ee;

        a {
          color: white;
        }
      }
      .btn__major {
        border: 1px solid $c1-text;
      }
      button {
        width: 10rem;
        height: 2.5rem;
        border-radius: 1.56rem;
        margin-right: 4px;
      }
      span {
        background: none;
      }
      .star {
        margin-top: 2rem;
      }
    }
  }
}
