$font-family-1: "Montserrat";
$c1-text:#1D3557;
$c1:#457B9D;
$c2:#A8DADC;
$c3: #D9D9D9;
$c4:white;
$c5:#F1FAEE;
$c6:#751e25;
@mixin font-text($font-family, $font-size, $font-weight, $color) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}


