@import "./variable";


.slick-slide {
  display: flex !important;
  justify-content: center;
  .definition {
    position: relative;
    img {
      height: 20rem;
      width: 20rem;
    }
    span {
      position: absolute;
      &:first-child {
        right: 25rem;
        width: 10rem;
        top: 6rem;
      }
      &:nth-child(2) {
        right: 25rem;
        top: 15rem;
        width: 10rem;
      }
      &:nth-child(3) {
        left: 25rem;
        top: 10rem;
        width: 10rem;
      }
      &:nth-child(4) {
        left: 40rem;
        top: 10rem;
        width: 10rem;
        svg {
          height: 3rem;
		  width: 3rem;
		  fill:$c1-text;
        }
      }
    }
  }
}
.slick-dots {
  display: none !important;
}
