.carousel__viewport {
  .embla__container {
    height: 30rem;
  }
  .embla__slide {
    display: grid;
	justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    .embla__slide__inne {
		width: 15rem;
		height: 30rem;
      background-color: #a8dadc;
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
}
