@import "./variable.scss";
h1 {
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px grey;
  // padding: 2rem;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: $c1-text;
}
.container {
}
.all_courses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .course_1,
  .course_2,
  .course_3 {
    align-items: center;
    display: flex;
    flex-direction: column;
    a {
      display: flex;
      flex-direction: column;
    }
    span {
      margin-top: 1rem;
      font-size: 1.3rem;
      font-style: italic;
      font-weight: 500;
      line-height: normal;
    }
  }
}
.about__course {
  .main__courses {
    margin-top: 4.5rem;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    .inner__course {
      position: relative;
      height: 25rem;
      width: 15rem;
      background: $c2;
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      &:nth-child(2) {
        background-color: $c3;
      }
      &:nth-child(3) {
        background-color: $c3;
      }
      img {
        position: absolute;
        top: -4rem;
        left: 15%;
      }
      .media2,
      .media3 {
        filter: grayscale(100%);
      }
      a {
        text-decoration: none;
        color: $c1-text;
      }
      .slide__detail {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        padding: 8px;
        gap: 1rem;
        h3 {
          text-align: center;
        }
      }
    }
  }
}
.overall__se {
  h1 {
    color:  #1d3557;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }
  .main__video {
    nav {
      color: #1d3557;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .link__ytb {
      margin-top: 1rem;
      gap: 1rem;
      display: flex;
      flex-direction: column;
   
      span {
        &:nth-child(2) {
          color: blue;
          text-decoration: underline;
          font-style: italic;
        }
      }
    }
  }
}
