@import "./variable";
.dashboard {
  background-image: url(../assets/img/register.jpg);
  height: 250rem;
  // background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;

  h1 {
    display: flex;
    justify-content: flex-start;
  }
  .income__btn {
    background: $c1-text !important;
    border-radius: 20px;
    width: 11rem;
    a {
      height: 1.5rem;
      display: flex;
      gap: 4px;
      flex-direction: row;
      color: $c4;
    }
    svg {
      height: 23px;
      width: 20px;
    }
  }
  .access__btn {
    border-radius: 20px;
    margin-left: 2rem;
    width: 11rem;
    border: 1px solid transparent; /* Set a transparent border */
    box-shadow: 0 0 10px $c1; /* Apply a box shadow with a blur effect */
    a {
      height: 1.5rem;
      display: flex;
      flex-direction: row;
      gap: 4px;
    }
    svg {
      height: 23px;
      width: 20px;
    }
  }
}
