@import "./variable";
.major__BA {
  small {
    display: flex;
    justify-content: center;
    color: $c4;
    margin-top: -1rem;
    margin-bottom: 4px;
  }
  .mobile__dev {
    margin: 0 auto;
    align-items: center;
    height: 27rem;
    width: 27rem;
    display: flex;
  }
  .major__name {
    text-shadow: 2px 2px 5px $c1-text;
  }
  .ba__definition {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 2rem;
    margin: 0 auto;
    height: 25rem;
    width: 25rem;
    border-radius: 1.25rem;
    background: #f1faee;
    box-shadow: 0px 2px 10px 6px rgba(0, 0, 0, 0.25);
    .first__txt {
      font-weight: 900;
    }
  }
}
