@import "./variable";
.payment {
  margin-top: 3rem;
  img {


    left: 3%;
    position: relative;
    height: 25rem;
    width: 25rem;
  }
  .main__payment {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    .code {
      position: relative;
      height: 23rem;
      width: 24rem;
      left: 2%;
      top: 18%;
    }
    .qr__bar {
      left: 41%;
      transform: rotate(-8deg);
      position: absolute;
      height: 20rem;
      width: 20rem;
      top: 28%;
    }
  }
}
