@import "./variable";
.table__user {
  .active {
    background: orange;
    border-radius: 50%;
    padding: 5px 9px;
  }

  ul {
    margin-top: 2rem;
    display: flex;
    gap:2rem;
    list-style-type: none;
    justify-content: center;
    li {
      cursor: pointer;
      padding: 5px 9px;

      color: $c1-text;
    }
  }
  .MuiPaper-root {
    border-radius: 20px;
    margin-left: 2rem;
    background-color: #f0fbef;
    border: 1px solid transparent;
    box-shadow: 0 0 10px $c1;
    .MuiTable-root {
      height: 30rem;
    }
  }
  th {
    text-align: center;
    font-weight: 900;
    color: $c1-text;
  }
  .status__btn {
    background-color: $c1-text;
    color: white;
    border-radius: 20px;
    width: 6rem;
    height: 2rem; 
    &:hover{
      background-color: $c1-text;
    }
  }
  td {
    text-align: center;
  }
  button {
    &:hover {
      background-color: none;
    }
  }
}
